<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705249545237-hah6g03uu9qn8k04jclfjd1nfif88ie0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705249545237-hah6g03uu9qn8k04jclfjd1nfif88ie0</string>
	<key>API_KEY</key>
	<string>AIzaSyD20Ju2iiNPXq_ysTrvf7R_-v0dF0iole8</string>
	<key>GCM_SENDER_ID</key>
	<string>705249545237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-bb349</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-bb349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705249545237:ios:ceaa88e160ee659114521c</string>
</dict>
</plist>